<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
    <script src="./script.js" defer></script>
</head>

<body>

    <header id="header">
        <div class="observedElement">
            <h1>
                {{title}}
            </h1>
            <h2>
                {{subtitle}}
            </h2>
    </header>

    <nav class="navigation">
        <ul>
            <li>
                <a href="#about">about</a>
            </li>
            <li><a href="#tech">skills</a></li>
            <li>
                <a href="#projects">projects</a>
            </li>
            <li>
                <a href="#contact">contact</a>
            </li>
        </ul>
    </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
</body>

</html>