<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiebken Nagel</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>



    <nav class="navigation">
        <ul>
            <li>
                <a href="../#about" aria-label="leads to the about section of this site">about</a>
            </li>
            <li><a href="../#tech" aria-label="leads to the tech section of this site">tech</a></li>
            <li>
                <a href="../#projects" aria-label="leads to the project section of this site">projects</a>
            </li>
            <li>
                <a href="#contact" aria-label="leads to the contact section of this site">contact</a>
            </li>
        </ul>
    </nav>


    {{ content | safe }}

    <footer>
        <article id="contact" class="observedElement">
            <h3>contact</h3>
            <ul>
                <li><a href="https://github.com/wiebken-n" aria-label="leads to github profile" target="_blank"><img src="../assets/github-logo.svg"
                            fill="currentColor" alt="GitHub logo"></a></li>
                <li><a href="https://www.linkedin.com/in/wiebken-n/" aria-label="leads to linkedIn profile" target="_blank"><img
                            src="../assets/linkedin-logo.svg" alt="LinkedIn logo"></a></li>
            </ul>
        </article>
    </footer>
</body>
<script src="/script/script.js" defer></script>

</html>