.project-header {
  margin-top: 6rem;
  width: 85vw;
  margin-inline: auto;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 3rem;
  align-items: center;
}
.project-header h1 {
  margin-block: 0;
  text-align: left;
  margin-left: 0;
}

.project-header .links ul {
  display: flex;
  gap: 1rem;
  font-size: 1.125rem;
}

.project-header .links li {
  border-bottom: 2px solid var(--font-color);
  padding-bottom: 3px;
  transition: all 200ms ease-in-out;
  scale: 1;
}

.project-header .links a:hover {
  color: var(--primary);
}
.project-header .links li:hover {
  scale: 1.05;
  border-color: var(--accent);
}
.project-content {
  margin-inline: auto;
  width: 85vw;
}
.techlist {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: max-content auto;
  grid-row: 1;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}
.techlist p {
  margin: 0;
  font-size: 1.125rem;
}
.techlist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  height: min-content;
}

.techlist li {
  color: var(--color-tech-items);
  background-color: var(--background-tech-items);
  padding: 0.35rem 0.85rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 0 10px 0px var(--card-shadow);
  scale: 1;
  transition: all 200ms ease-in-out;
}

.techlist li img {
  width: 1.25rem;
  height: 1.25rem;
}
.techlist li:hover,
.techlist li:focus {
  scale: 1.07;
}

.card-container {
  width: 85vw;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.project-card {
  padding: 2rem;
  background-color: var(--card-background);
  border-radius: 10px;
  border: 2px solid var(--border-color);
  box-shadow: 0 0 10px 0px var(--card-shadow);
}

.project-info p {
  line-height: 1.75;
  margin: 0;
}

.project-features ul {
  line-height: 1.75;
}
.project-features li {
  margin-left: 1rem;
  list-style: disc;
}
.screenshots {
  margin-top: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.screenshots figure {
  margin: 1rem;
}
.screenshots figure figcaption {
  margin-top: 0.5rem;
  text-align: left;
}
.screenshots figure img {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .screenshots {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .screenshots {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .techlist {
    margin-top: 4rem;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .techlist ul {
    justify-content: center;
  }

  .card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .project-header {
    margin-top: 7rem;
    grid-template-columns: 1fr;
  }

  .project-header .links ul {
    justify-content: center;
  }

  .project-header h1 {
    text-align: center;
  }
  .screenshots {
    grid-template-columns: 1fr;
  }
}
