@import url("./normalize.css");
@import url("./indexstyle.css");
@import url("./projectstyle.css");

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  src: url("/assets/fonts/Jost-VariableFont_wght.ttf");
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrainsMono";
  src: url("/assets/fonts/JetBrainsMono.ttf");
}

:root {
  --font-color: #f1f1f1;
  --color-tech-items: #ffffff;
  --background-tech-items: hsl(175, 35%, 35%);
  --background-color: rgb(49, 53, 59);
  --primary: hsl(175, 35%, 60%);
  --primary-dark: hsl(175, 35%, 40%);
  --primary-light: hsl(175, 35%, 70%);
  --primary-superlight: hsl(175, 35%, 90%);
  --accent: #6053ac;
  --accent-dark: hsl(249, 35%, 30%);
  --border-color: hsl(0, 0%, 50%);
  --card-background: hsla(180, 27%, 4%, 0.205);
  --card-shadow: hsla(180, 28%, 13%, 0.377);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*::selection {
  color: var(--accent-dark);
  background-color: var(--primary-light);
}
body {
  color: var(--font-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: "Jost";
  background-color: var(--background-color);
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "JetBrainsMono";
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 11px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* style for main site */

body .navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 1.5rem;
  padding-right: 2.5rem;
  transition: all 200ms ease-in-out;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.navigation li {
  font-size: 1.125rem;
  font-family: "JetBrainsMono";
  font-weight: 600;
  scale: 1;
  transition: all 200ms ease-in-out;
}
.navigation li:hover {
  scale: 1.05;
}
.navigation li a {
  color: var(--font-color);
  padding-bottom: 2px;
  border-bottom: 2px solid var(--primary-superlight);
  transition: all 200ms ease-in-out;
}
.navigation li:hover a {
  color: var(--primary);
  border-bottom: 6px solid var(--accent);
}

h3 {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  width: 20rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--border-color);
  margin-inline: auto;
}

#contact {
  width: max-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 1rem;
}

#contact ul {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

#contact img {
  color: var(--font-color);
  color: red;
  height: 2rem;
  width: 2rem;
  scale: 1;
  transition: all 200ms ease-in-out;
}

#contact img:hover {
  scale: 1.125;
  filter: brightness(0) saturate(100%) invert(41%) sepia(15%) saturate(1956%)
    hue-rotate(209deg) brightness(85%) contrast(97%);
}

@media screen and (max-width: 600px) {
  body .navigation {
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    width: max-content;
  }

  .navigation ul {
    gap: 1rem;
  }
  header {
    width: 90vw;
  }
}

.observedElement {
  scale: 0.98;
  filter: saturate(0.9) brightness(0.7);
  transition: all 300ms ease-in-out;
}

.in-viewport {
  scale: 1;
  filter: brightness(1) saturate(1);
}

@media screen and (min-width: 601px) {
  body .alt-nav {
    position: fixed;
    top: 1rem;
    right: 0rem;
    padding-right: 1rem;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
  }

  .alt-nav li a {
    opacity: 0.6;
    font-size: 0.75em;
    padding-left: 2px;
    border: none;
    border-left: 2px solid var(--primary-superlight);
  }

  .alt-nav li:hover a {
    opacity: 1;
    border: none;
    border-left: 6px solid var(--accent);
  }
}
