---
title: "Cat Herder App"
subtitle: "Vue App"
layout: "./base.njk"
---
<header id="header" class="project-header">
    <h1 class="observedElement">Cat Herder App</h1>
    <div class="links">
        <ul>
            <li> <a href="https://cat-herder.netlify.app/" target="_blank">live app</a></li>
            <li> <a href="https://github.com/wiebken-n/cat-herder" target="_blank">github</a></li>
        </ul>

    </div>
</header>
<main>
    <div class="project-content">
        <section class="techlist">
            <p>built with:</p>

            <ul>
                <li><img src="/assets/vue-logo.svg" alt="Vue.js logo"><span>Vue.js</span></li>
                <li><img src="/assets/javascript-logo.svg" alt="JavaScript logo"><span>JavaScript</span></li>
                <li><img src="/assets/html-logo.svg" alt="HTML logo"><span>HTML</span></li>
                <li><img src="/assets/css-logo.svg" alt="CSS logo"><span>CSS</span></li>
                <li><img src="/assets/primevue-logo.svg" alt="PrimeVue logo"><span>PrimeVue</span></li>
                <li><img src="/assets/pinia-logo.svg" alt="Pinia logo"><span>Pinia</span></li>
                <li><img src="/assets/vcalendar-logo.webp" alt="VCalendar logo"><span>VCalendar</span></li>
                <li><img src="/assets/vite-logo.svg" alt="Vite logo"><span>Vite</span></li>
                <li><img src="/assets/supabase-logo.svg" alt="Supabase logo"><span>Supabase</span></li>
                <li><img src="/assets/git-logo.svg" alt="Git logo"><span>Git</span></li>
                <li><img src="/assets/vscode-logo.svg" alt="VS Code logo"><span>VS Code</span></li>
            </ul>
        </section>


        <div class="card-container">
            <section class="project-info project-card">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu
                    fugiat
                    nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim
                    id
                    est
                    laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi
                    ut
                    aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu
                    fugiat
                    nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim
                    id
                    est
                    laborum.</p>
            </section>
            <section class="project-features project-card">
                <ul>
                    <li>Feature one</li>
                    <li>Feature one</li>
                    <li>Feature one</li>
                    <li>Feature one</li>
                    <li>Feature one</li>

                </ul>
            </section>
        </div>
        <section class="screenshots project-card">
            <figure>
                <img src="/assets/img/catherder-1.webp" alt="">
                <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut
                </figcaption>
            </figure>
            <figure>
                <img src="/assets/img/catherder-2.webp" alt="">
                <figcaption>bleh blubb</figcaption>
            </figure>
            <figure>
                <img src="/assets/img/catherder-2.webp" alt="">
                <figcaption>bleh blubb</figcaption>
            </figure>
            <figure>
                <img src="/assets/img/catherder-2.webp" alt="">
                <figcaption>bleh blubb</figcaption>
            </figure>
        </section>
    </div>
</main>