---
title: "Wiebken Nagel"
subtitle: "
< junior frontend web developer />"
layout: "/base.njk"
---

<header id="header" class="index-header">
    <div class="observedElement">
        <h1>
            {{title}}
        </h1>
        <h2>
            {{subtitle}}
        </h2>
</header>
<main>
    <div class="site-container">

        <article id="about" class="observedElement">
            <h3>about me</h3>
            <div class="about-content">
                <img src="./assets/img/profile-pic.webp" alt="">
                <div class="about-text-wrapper">
                    <p class="greeting-text">Hello there!
                    </p>
                    <p class="about-text">
                        I'm Wiebken, a Junior Frontend Web Developer. With a background in cultural
                        anthropology and video production, I bring a unique perspective to coding. I thrive on
                        problem-solving and constantly seek new
                        techniques to enhance my work. My goal is to create visually appealing and intuitively usable
                        applications that prioritize accessibility for all users. <br> Don't hesitate to get in touch!
                    </p>
                </div>
            </div>
        </article>

        <article id="tech" class="observedElement">
            <h3>tech I work with</h3>
            <ul>
                <li><img src="/assets/vue-logo.svg" alt="Vue.js logo"><span>Vue.js</span></li>
                <li><img src="/assets/javascript-logo.svg" alt="JavaScript logo"><span>JavaScript</span></li>
                <li><img src="/assets/html-logo.svg" alt="HTML logo"><span>HTML</span></li>
                <li><img src="/assets/css-logo.svg" alt="CSS logo"><span>CSS</span></li>
                <li><img src="/assets/primevue-logo.svg" alt="PrimeVue logo"><span>PrimeVue</span></li>
                <li><img src="/assets/quasar-logo.svg" alt="Quasar logo"><span>Quasar</span></li>
                <li><img src="/assets/pinia-logo.svg" alt="Pinia logo"><span>Pinia</span></li>
                <li><img src="/assets/vcalendar-logo.webp" alt="VCalendar logo"><span>VCalendar</span></li>
                <li><img src="/assets/vite-logo.svg" alt="Vite logo"><span>Vite</span></li>
                <li><img src="/assets/11ty-logo.webp" alt="11ty logo"><span>Eleventy</span></li>
                <li><img src="/assets/supabase-logo.svg" alt="Supabase logo"><span>Supabase</span></li>
                <li><img src="/assets/cypress-logo.svg" alt="Cypress logo"><span>Cypress</span></li>
                <li><img src="/assets/git-logo.svg" alt="Git logo"><span>Git</span></li>
                <li><img src="/assets/vscode-logo.svg" alt="VS Code logo"><span>VS Code</span></li>
            </ul>
        </article>

        <article id="projects" class="observedElement">
            <h3>
                projects </h3>
            <div class="projects-container">
                <section class="catherder">
                    <h4>Cat Herder</h4>
                    <p class="project-card-info-text">Cat Herder is an app to facilitate the task of taking care of cats
                        and to improve communcation of
                        important
                        dates
                        and information with cat-sitters.</p>
                    <div class="screenshots">
                        <img class="preview-screenshot screenshot-catherder" src="./assets/img/catherder-main.webp"
                            alt="screenshort of the main site of the Cat Herder app">
                        <img class="preview-screenshot screenshot-catherder" src="./assets/img/catherder-calendar.webp"
                            alt="screenshort of the main site of the Cat Herder app">
                    </div>
                    <div class="project-links">
                        <ul>
                            <li><a href="./catherder">details</a></li>
                            <li><a href="https://cat-herder.netlify.app/" target="_blank">live app</a></li>
                            <li><a href="https://github.com/wiebken-n/cat-herder" target="_blank">github</a></li>
                        </ul>
                    </div>
                </section>
                <section class="Eden Sketch">
                    <h4>EdenSketch</h4>
                    <p class="project-card-info-text">EdenSketch is an app to facilitate the planning of and tending to
                        vegetable gardens over the
                        course of each
                        year.
                    </p>
                    <div class="screenshots">
                        <img class="preview-screenshot screenshot-edensketch" src="./assets/img/edensketch-landing.webp"
                            alt="screenshort of the main site of the Cat Herder app">
                        <img class="preview-screenshot screenshot-edensketch"  src="./assets/img/edensketch-planning.webp"
                            alt="screenshort of the main site of the Cat Herder app">
                    </div>
                    <div class="project-links">
                        <ul>
                            <li><a href="./edensketch">details</a></li>
                            <li><a href="https://edensketch.netlify.app/" target="_blank">live app</a></li>
                            <li><a href="https://github.com/coding-bootcamps-eu/final-project-tz-eden-sketch"
                                    target="_blank">github</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </article>


    </div>
</main>