body {
  color: rgb(241, 241, 241);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(58, 58, 58);
  display: block;
  box-sizing: border-box;
}

main {
  width: 100%;
}
