@import "./normalize.css";

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  src: url("./assets/fonts/Jost-VariableFont_wght.ttf");
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrainsMono";
  src: url("./assets/fonts/JetBrainsMono.ttf");
}

:root {
  --font-color: rgb(241, 241, 241);
}

body {
  color: rgb(241, 241, 241);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: "Jost";
  background-color: rgb(58, 58, 58);
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}
main {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "JetBrainsMono";
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

/* style for main site */

body .navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 1rem;
  padding-right: 1rem;
}

article {
  margin-top: 7rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navigation li {
  font-size: 1.125rem;
  font-family: "JetBrainsMono";
  font-weight: 600;
}

header {
  text-align: center;
  margin-inline: auto;
  padding-top: 7rem;
}
h1 {
  font-size: 3rem;
}

#about {
  margin-inline: auto;
  width: 600px;
  border: 1px solid grey;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0px hsla(180, 28%, 13%, 0.377);
  background-color: hsla(180, 27%, 4%, 0.205);
}

#about p {
  padding: 0;
  margin: 0;
}

#tech ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 500px;
  margin: 0 auto;
}
#tech li {
  background-color: hsla(180, 29%, 43%, 0.692);
  padding: 0.35rem 0.85rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 0 10px 0px hsla(180, 28%, 13%, 0.377);
}

#tech li img {
  width: 1.25rem;
  height: 1.25rem;
}

#projects {
  width: 800px;
  margin-inline: auto;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact {
  width: max-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 1rem;
}

#contact ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#contact img {
  height: 2rem;
  width: 2rem;
}
